header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  .Links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   .Links ul li{
    list-style: none;
    margin: 0;
    padding: 0;
   border: none;
  }
  
  .branding {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .Links li a{
    text-decoration: none;
    
  }
  .Links a p:hover{
    color: #000;
  }
  .Links a {
    margin:0;
    text-decoration: none;
    /* color: #4f4a4a; */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .Links p{
    color: #333;
    margin:0;
  }
  
   
  
  /* Mobile Responsive Design */
  @media (max-width: 768px) {
    .links {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links li {
      margin-bottom: 10px;
    }
  }
header ul li{
    font-family:Arial, Helvetica, sans-serif;
    display:block;
   border: solid;
   
   /* opacity: 25%; */
   width: 10%;
   text-align: center;
   min-width: min-content;
   border-radius: 25%;
   padding: 0%;
 
   
   }
   header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
   max-height: fit-content;
 
   
 
    align-items: center;
    
    padding:1rem;
    padding-left: 5px;
    width:100% ;
      
}
nav{
    width: 95%;
    padding-right: 5%;
    
}
header ul{
    flex-wrap: wrap;
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin:0;
 
}
 
 