@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App{
    min-height: 100vh;
}

body{
 font-family: 'Roboto', sans-serif !important;
    background-color: #f8f8f8 !important;
    padding:0 !important;
   margin: 0 !important;;
    min-width:800px !important; 
    width: 100% !important;
    min-height:  fit-content!important;
}
/* a p{
  margin:0;
  text-decoration-color: #74776B;
}
li a{
  text-decoration: none;
  color: white;
} */


 .branding{
    display:inline-block;
    padding: 1rem;
     font-size: large;
    align-self: flex-start;
    margin-right:auto;
   
    
 }
 .product-section{
    display:grid;
    margin : 1rem;
   grid-template-columns:repeat(auto-fit,minmax(280px,1fr ));
   gap: 2rem;
   max-width: 95%;
   

 }
 .Item{
display :flex;
flex-wrap: nowrap;
justify-content: space-evenly;
flex-direction: column;
 
border-color: black;
align-items: center;
margin:2rem 1rem;
padding: 1rem;
position: relative;
font-family: 'Roboto', sans-serif;
 }

  

 /* .Item a:hover{
 
    opacity: 90%;
} */
 .product-photo{

    max-width: 120px;
    max-height: 120px;
 }
 .Footer{
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid;
    border-color: black;
    height: 50px;
    position: fixed;
    background-color: #FFCAB1;
    gap: 1rem;
    bottom: 0;
    width: 100%;
    align-items: center;
 }
 .Footer p{
   padding: 4px;
 }
 .product-text{
   display: block;
   width: 100%;
   align-items: start;
   padding: 5px;
 }
 .discription{
   width:100% ;
   align-items: start;
   display:flex;
   
   
 }
 .space{
   display:block;
   width: 100%;
   background-color:black;
   min-height:30px;
   margin-top: 1rem;
   margin-bottom: 1rem;
   opacity: 25%;
 }
 .Item button{
   min-width: fit-content;
   height: 40px;
 }
 .toast-container{
   position:fixed;
   bottom: 0 ;
   right: 0 ;
 }
.img-container{
  display: flex;
  justify-content: center;
 
 
  height: 15rem;
}
 .card-img-top{
 width: auto;
 max-height: 95%;
 max-width: 95%;
 object-fit: cover
 

 
 }

.container{
  width: 900px;
  max-width: 90vw;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.title{
  font-size: xx-large;
  padding: 20px 0;
  margin-bottom: 20px;
}
.details{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px ;
  text-align: left;
  margin-top: 40px;
}
.details .image img{
  object-fit: scale-down  ;
  
  height: 300px;
}
.details .image{
  display: flex;
  justify-content: center;
  position: relative;
}
 
.details .name{
  font-size: xx-large;
  padding: 40px 0 0 0;
  margin:0 0 10px 0;
}
.details .price{
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 7px;
  margin-bottom: 20px;
}
.details .buttons{
  display:flex;
  gap: 20px ;
  margin-bottom: 20px;
 
}
.details .buttons button{
  
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: large;
  text-decoration: white;
}
.details .buttons span{
  background-color: #FFCAB1;
  width: 30px;
  height: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  color: #ffcab1c8;
}
.details .discription{
  font-weight: 300;
}
.container-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 15px;
  border-radius: 4px;
}

.text-muted {
  color: #6c757d;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-bottom: 0;
  margin-left: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.hero {
  background-image: url('https://hips.hearstapps.com/hmg-prod/images/20-best-perfumes-v3-654cf94766f4f.jpg'); 
  background-size: cover;
  background-position: center;

  text-align: center;
  padding: 100px 0;

}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  padding: 20px;
}
.hero-content h1{
  display: inline-block;
  background-color: #fff;
  color: #333;
}
.hero-content h2{
  text-align: center;
  display:  inline-block;
  background-color: #fff;
  color: #333;
  max-width: fit-content;
}
.btn-shop-now {
  margin-top: 1rem;
  display:  block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
